
      .box-3 {
        height: auto;
        width: 100%;
        padding: 20px 20px;
        border: 3px solid #1b447f;
        margin: 1em;
        background: rgb(126,197,251);
        background: linear-gradient(175deg, rgba(126,197,251,1) 0%, rgba(126,198,34,1) 99%);
        justify-content: center;
      }

      .container-1 {
        display: flex;
        flex-direction: row;
        justify-content: left; 
        background: rgb(126,197,251);
        background: linear-gradient(175deg, rgba(126,197,251,1) 0%, rgba(126,198,34,1) 99%);
        height: auto;
        width: 100%;
      }     

      h1 {
        color: white;
        display: flex;
        justify-content: left;
      }

      h2 {
        color: white;
        display: flex;
        justify-content: center;
      }

      h3 {
        color: black;
      }

      h4 {
        color: white;
        display: flex;
        justify-content: left;
        font-style: italic;
      }

      h5 {
        color: white;
        display: flex;
        justify-content: center;
      }

      h6 {
        color: black;
        display: flex;
        font-weight: 100;
      }

      body {
        font-family: sans-serif, serif, Arial; 
      }

      body {
        font-weight: 100;
        font-size: 100%;
      }

      p {
        color: black;
      }

      a {
        text-decoration: none;
        color:#007DA3;
      }

      *{
        margin: 0;
        box-sizing: border-box;      
      }
      
      .box-4 ul li a{
        color: white;
        justify-content: center;
        margin: 1em;
        text-decoration: none;
        font-size: 1.3em;
      }

      .box-4 ul{
        display: flex;
        justify-content: center;
        list-style: none;
      } 

      .Parent { 
        display: flex; 
        flex-direction: row;
        background-image: URL(3219231344_658d717b02_w.jpg);
        background-position: center center;
        background-attachment: fixed;
        height: auto;
        width: 100%;
        } 
  
       .child1 { 
            width: 70%; 
            padding: 30px; 
            height: 100vh; 
            border: #1b447f solid 5px; 
            margin: 50px;
            background-color: #ffffe0;    
        } 
  
       .child1 video {
         border: 3px solid #1b447f;
         height: auto;
         width: 75%;
        }
     
        @media print {
          body video {
            display: none;
           }
        } 

        .child2 { 
            width: 30%; 
            padding: 30px; 
            height: 100vh; 
            border: #1b447f solid 5px; 
            margin: 50px;
            background-color: #ffffe0; 
        } 

         .child2 img {
         border: 3px solid #1b447f;
         height: auto;
         width: 75%;
        }

        @media print {
          body img {
            display: none;
           }
        }          

          @media screen and (min-width: 576px) {
           #sidebar {
             display: none;
           }
        }          


        .child1 h2 {
          color:#007DA3;
          justify-content: left;
          font-weight: 700;
        }
    
        .child1 h3 {
          color:#007DA3;
          justify-content: left;
        }

        footer {
          background: rgb(126,197,251);
          background: linear-gradient(175deg, rgba(126,197,251,1) 0%, rgba(126,198,34,1) 99%);
      }

      .footerContainer i{
        width: 100%;
        padding: 1em;
        text-align: center;
      } 
     
      .footerNav{
        margin: 1em;
      }

      .footerNav ul{
        display: flex;
        justify-content: center;
        list-style: none;
      } 

      .footerNav ul li a{
        color: white;
        justify-content: center;
        margin: 1em;
        text-decoration: none;
        font-size: 1.3em; 
      } 

      