
      .box-1 {
        height: 100px;
        width: 350px;
        border: 3px solid white;
        margin: 1em;
        background: white;
      }

      .box-2 {
        height: 100px;
        width: 350px;
        border: 3px solid white;
        margin: 1em;
        background: white;
      }

      .box-3 {
        height: 150px;
        width: 100%;
        border: 3px solid #7ec5fb;
        margin: 1em;
        background: #7ec5fb;
        justify-content: center;
      }

      .container-1 {
        display: flex;
        flex-direction: row;
        justify-content: left; 
      }     

      h1 {
        color: white;
        display: flex;
        justify-content: left;
      }

     
      h2 {
        color: white;
        display: flex;
        justify-content: center;
      }

      h3 {
        color: grey;
      }

      h4 {
        color: white;
        display: flex;
        justify-content: left;
        font-style: italic;
      }

      h5 {
        color: white;
        display: flex;
        justify-content: center;
      }

      h6 {
        color: grey;
        display: flex;
        font-weight: 100;
      }
      body {
        font-family: sans-serif, serif, Arial; 
      }
      body {
        font-weight: 100;
        font-size: 100%;
      }
      p {
        color: grey;
      }

      a {
        text-decoration: none;
        color:#7ec5fb;
      }

      *{
        margin: 0;
        box-sizing: border-box;      
      }
      
      .box-4 ul li a{
        color: black;
        justify-content: center;
        margin: 1em;
        text-decoration: none;
        font-size: 1.3em;
      }

      .box-4 ul{
        display: flex;
        justify-content: center;
        list-style: none;
      } 

      .Parent { 
            display: flex; 
            flex-direction: row; 
        } 
  
       .child1 { 
            width: 70%; 
            padding: 30px; 
            height: 100vh; 
            border: #1b447f solid 5px; 
            margin: 50px;
            background-color: white;  
        } 
  
        .child2 { 
            width: 30%; 
            padding: 30px; 
            height: 100vh; 
            border: #1b447f solid 5px; 
            margin: 50px;
            background-color: white; 
        } 

        .child1 h2 {
          color:#7ec5fb;
          justify-content: left;
          style: 700;
        }
    
        .child1 h3 {
          color:#7ec5fb;
          justify-content: left;
        }

        footer {
        background: grey;
       
      }

      .footerContainer i{
        width: 100%;
        padding: 1em;
        text-align: center;
      } 
     
      .footerNav{
        margin: 1em;
      }

      .footerNav ul{
        display: flex;
        justify-content: center;
        list-style: none;
      } 

      .footerNav ul li a{
        color: white;
        justify-content: center;
        margin: 1em;
        text-decoration: none;
        font-size: 1.3em; 
      } 